<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../style/css/index.css">
  <audio src="../audio/audio2.mp3" autoplay loop></audio>
  <title>Films</title>
</head>
<body id="film">

<canvas id="particulas"></canvas>

<header>
  <h1>Films</h1>
</header>
  <div class="contenido" id="contenido">
    <article class="card">
      <img src="../img/starWarsVideo1.png" alt="img1" class="card-img">
    </article>
    <article class="card">
      <img src="../img/starWarsVideo2.png" alt="img2" class="card-img">
    </article>
    <article class="card">
      <img src="../img/starWarsVideo3.png" alt="img3" class="card-img">
    </article>
    <article class="card">
      <img src="../img/starWarsVideo4.png" alt="img4" class="card-img">
    </article>
    <article class="card">
      <img src="../img/starWarsVideo5.png" alt="img5" class="card-img">
    </article>
    <article class="card">
      <img src="../img/starWarsVideo6.png" alt="img6" class="card-img">
    </article>
  </div>

  <div class="windows-modal hidden" id="windows">
    <iframe id="windowsFilms" class="windows-img" src=""  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <button class="btn">Cerrar</button>
  </div>

  <script src="../js/index.js"></script>
  <script src="../js/particulas.js"></script>
  <script src="../js/vanilla-tilt.js"></script>
</body>
</html>